---
import Image from '~/components/common/Image.astro';
---

<span class="relative w-[6rem] h-[6rem] md:w-20 md:h-20">
  <Image
    src="~/assets/images/01011010 ring.png"
    class="invert dark:invert-0 dark:brightness-100 brightness-200 animate-custom-spin absolute center-xy"
    alt="01011010 ring"
  />
  <Image
    src="~/assets/images/circle.png"
    class="invert dark:invert-0 dark:brightness-100 brightness-200 animate-[spin_90s_linear_infinite] absolute center-xy direction-reverse"
    alt="Circle"
  />
  <Image src="~/assets/images/z90 text.png" class="invert dark:invert-0 dark:brightness-100 brightness-200 absolute center-xy" alt="Z90" />
</span>